# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Android / IDE
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# local test artifacts (emulator screenshots / UI dumps)
/*.png
/ui.xml

# Keystores / secrets
*.jks
*.keystore
